In [2]:
a = "Pakistan"
print(a)

Pakistan

In [3]:
a = "Pakistan"
a.upper()

'PAKISTAN'

In [4]:
a = "PakisTaN Zinda Bad"
a.capitalize ()

'Pakistan zinda bad'

In [5]:
a.upper()

'PAKISTAN ZINDA BAD'

In [6]:
a.title()

'Pakistan Zinda Bad'

In [7]:
a.lower()

'pakistan zinda bad'

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [9]:
print?

In [10]:
a.center??

In [15]:
abc = """
Saylani
Karachi
Pakistan
"""
print(abc)

Saylani
Karachi
Pakistan

In [16]:
print(abc)

Saylani
Karachi
Pakistan

In [18]:
name = "Ubaid"
father_name = "Wasi"
roll_no = 123

abc = """
Name: {}
Father Name: {}
Roll No: {}
"""

print (abc.format(name, father_name, roll_no))

Name: Ubaid
Father Name: Wasi
Roll No: 123

In [ ]:
name = "Ubaid"
father_name = "Wasi"
roll_no = 123

abc = """
Name: {}
Father Name: {}
Roll No: {}
"""

In [20]:
name = input("Enter your Name: ")
father_name = input("Enter your Father Name: ")
roll_no = input("Enter you Roll No: ")

name = "Ubaid"
father_name = "Wasi"
roll_no = 123

abc = """
Name: {}
Father Name: {}
Roll No: {}
"""

print (abc.format(name, father_name, roll_no))

Enter your Name: Ubaid
Enter your Father Name: Wasi
Enter you Roll No: 1231

Name: Ubaid
Father Name: Wasi
Roll No: 123

In [21]:
a = "Pakistan"
b = "zinda bad"

a + b #Concatinate

'Pakistanzinda bad'

In [22]:
a = 5
b = 7
c = 21

a + b + c

33

In [23]:
5 + 2

7

In [24]:
4 - 2

2

In [25]:
5 * 3

15

In [26]:
12/3

4.0

In [28]:
15 % 4
# Gives Modulas or remainder Value

3

In [30]:
15 /4

3.75

In [31]:
15 //4
# Returns Float division / value before decimal

3

In [32]:
15 // 4.0

3.0

In [35]:
2 ** 3

8

In [37]:
2 + 6 * 8 /5 + (2*3)
# pemdas
2 + 6 * 8 / 5 + 6
2 + 48 / 5 + 6
2 + 9.6 + 6
17.6

17.6

In [ ]:
4/8**3+()
#20 Operations to be performed

# Assign Operations

In [39]:
a = "Pakistan"
print(a)

Pakistan

In [41]:
a * 3 # repetition

'PakistanPakistanPakistan'

In [43]:
a = "AbC"
print(a)

AbC

In [49]:
a += "XYZ"
print(a)

AbCXYZXYZXYZXYZXYZ

In [46]:
a %=2

TypeError: not all arguments converted during string formatting

In [51]:
a = 15
a %=4
print(a)

3

In [53]:
a **= 3
print(a)

19683

# Logical Operators

In [54]:
5 == 5

True

In [55]:
5 == 4

False

In [56]:
5 > 5

False

In [57]:
5 >= 5

True

In [58]:
5 != 5

False

In [59]:
6 <= 6

True

In [60]:
5 == 5 and 7<9 and 9>7

True

In [64]:
5 == 5 or 7<9 or 9==7

True

In [ ]:
# or , |
# and, &

In [65]:
a = "abc"
b = "xyz"
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [66]:
a = "abc"
b = "xyz"
c = "27"

a + b + c

'abcxyz27'

In [67]:
a = "abc"
b = "xyz"
c = 27

a + b + str(c)

'abcxyz27'

In [68]:
a = input()
b = input()

float(a) + float(b)

1
2

3.0

In [71]:
a = '1'
b = '2'
a + b

'12'

In [72]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# if, else, elif

In [91]:
name = input("Enter your Name: ")
if name == "qasim":
    print("Teacher")
else:
    print("Student")

Enter your Name: Qasim
Student

In [84]:
names = ['abc', 'dsc',"dfds"]
print(names)

['abc', 'dsc', 'dfds']

In [ ]:
names = []